<div class="container nav-container">
  <a href="/index.html" class="nav-link {% if page.title == 'Home' %}active{% endif %}">Home</a>
  <a href="/research.html" class="nav-link {% if page.title == 'Research' %}active{% endif %}">Research</a>
  <a href="/projects.html" class="nav-link {% if page.title == 'Projects' %}active{% endif %}">Projects</a>
  <a href="/publications.html" class="nav-link {% if page.title == 'Publications' %}active{% endif %}">Publications</a>
  <a href="/education.html" class="nav-link {% if page.title == 'Education' %}active{% endif %}">Education</a>
  <a href="/contact.html" class="nav-link {% if page.title == 'Contact' %}active{% endif %}">Contact</a>
</div>
