<nav class="nav-bar">
  <div class="container nav-container">
    <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>
    <a href="{{ '/research.html' | relative_url }}" class="nav-link">Research</a>
    <a href="{{ '/projects.html' | relative_url }}" class="nav-link">Projects</a>
    <a href="{{ '/publications.html' | relative_url }}" class="nav-link">Publications</a>
    <a href="{{ '/education.html' | relative_url }}" class="nav-link">Education</a>
    <a href="{{ '/contact.html' | relative_url }}" class="nav-link">Contact</a>
  </div>
</nav>
