<nav class="nav-bar">
  <div class="container nav-container">
    
  <div class="logo">Subodh Dahal</div>
    
    <!-- Hamburger icon -->
    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    
    <div class="nav-links" id="nav-links">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/assets/CV-Subodh-dahal-v2032026.pdf">CV</a>
      <a class="nav-link" href="/research">Research</a>
      <a class="nav-link" href="/projects">Projects</a>
      <a class="nav-link" href="/education">Education</a>
      <a class="nav-link" href="/publications">Publications</a>
      <a class="nav-link" href="/contact">Contact</a>
    </div>

  </div>
</nav>
